[phases.setup]
nixPkgs = ['nodejs_22']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'NODE_OPTIONS="--dns-result-order=ipv4first" npm run migration:run && NODE_OPTIONS="--dns-result-order=ipv4first" npm run start:prod'
